
h1 {
    text-align: center;
    margin-top: 2em;
    border: 1em;
    /* background-color: red; */
    width: auto;
}    

body {
    background-image: url("greenery.png");
 
}
/* a.navbar.navbar-light.bg-light {
    color: red;
} */

form {
    align-content: center;
    margin: 3em;
    border: 5em;
    /* background-color:lightblue; */
}

img {
    background-color: lightblue;

}

section {
    margin: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

avitar.src {
    justify-content: center;
}

.submit {
    border-radius: .2em;
    background-color: rgba(140, 211, 235, 0.774);
    justify-content: center;
    align-items: center;

}

